{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Подтверждение e-mail</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}"/>

    {% load i18n %}
    {% load account %}


</head>
<body>
<div class="screen-height-filler valign-wrapper container demo-1 full-screen">
    <div id="large-header" class="large-header outer">
        <canvas id="demo-canvas"></canvas>
        <div class="container row center inner" style="top: 50%;">
            <div class="col m8 offset-m2 s12 white popup">
                <h2>{% trans "Confirm E-mail Address" %}</h2>
                <div class="divider"></div>

                {% user_display confirmation.email_address.user as user_display %}
                <div class="section center">
                    <div id="profile-section" class="scrollbarless">
                        {% if confirmation %}
                            {% user_display confirmation.email_address.user as user_display %}

                            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <div class="simple-form login-form">
                                    <div class="title">РЕГИСТРАЦИЯ</div>

                                    <p style="text-align: center">
                                        Пожалуйста, подтвердите, что адрес электронной почты <a
                                            href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>
                                        принадлежит
                                        пользователю <b>{{ user_display }}</b>
                                    </p>

                                    <button class="btn waves-effect waves-light" type="submit" onclick="">Подтвердить
                                    </button>
                                </div>
                            </form>

                        {% else %}

                            {% url 'account_email' as email_url %}
                            <div class="simple-form login-form">
                                <div class="title">РЕГИСТРАЦИЯ</div>

                                <p style="text-align: center">Срок действия ссылки для подтверждения пользователя по
                                    электронной почте истек или она недействительна.
                                    Пожалуйста, <a href="{{ email_url }}"> отправьте новый запрос на подтверждение по
                                        электронной почте. </a>
                                </p>

                            </div>


                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/TweenLite.min.js' %}"></script>
<script src="{% static 'js/EasePack.min.js' %}"></script>
<script src="{% static 'js/rAF.js' %}"></script>
<script src="{% static 'js/demo-1.js' %}"></script>

</body>
</html>

