{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}  ?ver=2"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_for_react.css' %}  ?ver=2"/>

    {% load i18n %}
    {% load account %}
</head>

<body>
<div class="valign-wrapper" style="height: 100%">
    <div class="sectionreact valign-wrapper" >
<!--        <div id="5" style="display:none">-->
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="simple-form register-form">
                        <div class="title center">СБРОС</div>

                        <div class="text_for_user" style="text-align: center; margin-bottom: 1em;">Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для
                            сброса пароля
                        </div>

                        {% csrf_token %}
                        <label for="email">Почта</label>
                        <input  type="text" name="email" id="id_email" placeholder="example@yandex.ru" required/>

                        <button class="btn waves-effect waves-light center buttonreact" type="submit">Сбросить
                        </button>

                        <div class="center">
                            <a href="http://www.parkinson.expert" onClick="show2();" style="color:  #6c5394;">Назад</a>
                        </div>

                    </div>
                </form>
<!--            </div>-->
    </div>
</div>
<!--<div class="screen-height-filler valign-wrapper">-->
<!--    <div class="container row center">-->
<!--        <div class="col m8 offset-m2 s12 white popup">-->
<!--            <h2>Сброс пароля</h2>-->

<!--            <div class="divider"></div>-->
<!--            <div class="section center">-->
<!--                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">-->
<!--                    {% csrf_token %}-->

<!--                    <div class="text_for_user">Забыли xcvпароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для-->
<!--                        сброса пароля.-->
<!--                    </div>-->

<!--                    <div>-->
<!--                        {% csrf_token %}-->
<!--                        <input type="email" name="email" id="id_email" placeholder="E-mail адрес" required/>-->
<!--                        <button-->
<!--                                class="btn-large waves-effect waves-light"-->
<!--                                type="submit">{% trans 'Reset My Password' %}-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

{% block content %}
    <!--<h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->
{% endblock %}
</html>



