{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Сброс пароля</title>
    <link rel="icon" href="images/logo-icon.ico">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}  ?ver=2"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_for_react.css' %}  ?ver=2"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load i18n %}
    {% load account %}
    {% load account socialaccount %}
    {% load webpush_notifications %}
    {% webpush_header %}
</head>

{% include "base.html" %}

<!--<div class="hide-on-med-and-down">-->
<!--    <div id="main-sections">-->
<div class="valign-wrapper" style="height: 100%">
    <div class="sectionreact valign-wrapper" >
        <div id="profile-section" class="scrollbarless">

            {% csrf_token %}
            <div class="simple-form register-form">
                <div class="title center">ВОЙТИ</div>

                <div class="text_for_user" style="text-align: center">Мы отправили вам письмо. Пожалуйста, свяжитесь с нами, если не получили его в
                    течение нескольких минут.
                </div>
                <form action="http://www.parkinson.expert">
                    <button class="btn waves-effect waves-light center buttonreact">ХОРОШО
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>



        

<!--    </div>-->
<!--</div>-->


<script src="{% static 'js/script.js' %}"></script>

<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.carousel');
    //     var instances = M.Carousel.init(elems, {
    //         fullWidth: true,
    //         indicators: true,
    //         padding: 100
    //     });
    // });
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        padding: 100
    });
    autoplay();

    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
</script>

<script src="{% static 'js/getCookie.js' %}"></script>


</body>
</html>