{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Сброс пароля</title>
    <link rel="icon" href="images/logo-icon.ico">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}  ?ver=2"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load i18n %}
    {% load account %}
    {% load account socialaccount %}
    {% load webpush_notifications %}
    {% webpush_header %}
</head>

{% include "base.html" %}

<div class="hide-on-med-and-down">
    <div id="main-sections">

        <div id="menu-section">
            <div id="logo">
                <img src="{% static 'images/logo-icon.svg' %}" alt="">
                <p>TREMORO</p>
            </div>


            <div id="menu">
                <a href="{% url 'account' %}" class="waves-effect waves-dark menu-entry"><i class="material-icons left">account_circle</i>Аккаунт</a>
                <a href="{% url 'home' %}" class="waves-effect waves-dark menu-entry selected"><i class="material-icons left selected">dashboard</i>Новости</a>
                <a href="{% url 'competition_list' %}" class="waves-effect waves-dark menu-entry"><i
                        class="material-icons left">date_range</i>Активности</a>
                <a class="waves-effect waves-dark menu-entry unassigned"><i class="material-icons left">supervisor_account</i>Пользователи</a>
                <a class="waves-effect waves-dark menu-entry unassigned"><i
                        class="material-icons left">favorite_border</i>О нас</a>
                <a class="waves-effect waves-dark menu-entry unassigned"><i class="material-icons left">settings</i>Настройки</a>
            </div>
        </div>

        <div id="content-section" class="scrollbarless">
            <div id="content-topbar">
                <input type="text" id="content-search" placeholder="Поиск">
                <button id="notofications-button" class="btn-flat waves-effect waves-dark unassigned"><i
                        class="material-icons" style="color: #768492;">notifications</i></button>
            </div>

            <div id="content-carousel">
                <div class="carousel carousel-slider center">
                    <!-- <div class="carousel carousel-slider center"> -->
                    <!-- <div class="carousel-fixed-item left">
                        <a class="btn waves-effect white grey-text darken-text-2">button</a>
                    </div> -->
                    {% for fd in recordings %}
                        <div class="carousel-item" style="background-image: url({{ fd.img }});" href="#one!">
                            <h2 class="black-text">{{ fd.header }}</h2>
                            <p class="black-text">{{ fd.text }}</p>
                        </div>
                    {% endfor %}
                    <!-- </div> -->
                    <div class="carousel-item" style="background-image: url({% static 'images/house2.jpg' %});">
                        <div class="title">НОВОСТИ</div>
                        <div class="subtitle">Обнаружены самые ранние признаки болезни Паркинсона</div>
                    </div>

                    <div class="carousel-item"
                         style="background-image: url({% static 'images/increase-serotonin.jpg' %});">
                        <div class="title">НОВОСТИ</div>
                        <div class="subtitle">Ученые определили механизм разрушения клеток мозга при болезни
                            Паркинсона
                        </div>
                    </div>

                    {% comment %} <div class="carousel-item" style="background-image: url('images/test-house.png');">
                            <div class="title">Header 3</div>
                            <div class="subtitle">Text 3</div>
                        </div> {% endcomment %}
                </div>
            </div>

            <p>
                Боле́знь Паркинсо́на — медленно прогрессирующее хроническое нейродегенеративное неврологическое
                заболевание, характерное для лиц старшей возрастной группы.
                <br><br>Присоединяйтесь к нашему проекту! Вместе мы сможем помочь оцифровать болезнь и обглечить жизнь
                пациентам!
                <br><br>Что для этого нужно сделать? Загружайте свои видео, проходите опросы, так мы сможем собрать
                необходимый датасет!
            </p>

            <div class="padded-content">
                <h4>Активности</h4>
            </div>

            <p>
                Что бы принять участие в проекте регистрируйтесь и выполняйте задания. Например, снимите видео как вы
                сжимаете руку в кулак. У вас это отнимет пару минут, но позволит нам обработать ваше видео и за счёт
                полученных данных облегчить жизнь сотням паркинсонникам!
            </p>

            <div class="padded-content">
                <div id="big-cards" class="row">
                    <div class="col m6 s12">
                        <div class="col-content">
                            <img src="{% static 'images/video.svg' %}" alt="">

                            <div>
                                <button id="video-button" class="btn waves-effect waves-light unassigned">Видео</button>
                                <p>
                                    Снимай видео и обрабатывай на сервере!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12">
                        <div class="col-content">
                            <img src="{% static 'images/book.svg' %}" alt="">

                            <div>
                                <button id="book-button" class="btn waves-effect waves-light lighten-2 unassigned">
                                    Дневник
                                </button>
                                <p>
                                    Расскажи как прошёл твой день!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12">
                        <div class="col-content">
                            <img src="{% static 'images/document.svg' %}" alt="">

                            <div>
                                <button id="document-button"
                                        class="btn waves-effect waves-light cyan lighten-2 unassigned">Опросы
                                </button>
                                <p>
                                    Проходи опросы и мини-тесты!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12">
                        <div class="col-content">
                            <img src="{% static 'images/joystick.svg' %}" alt="">

                            <div>
                                <button id="joystick-button"
                                        class="btn waves-effect waves-light green lighten-2 unassigned">Игры
                                </button>
                                <p>
                                    Играй и развивайся одновремеено!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="profile-section" class="scrollbarless">
            
            {% csrf_token %}
            <div class="simple-form register-form">
                <div class="title center">ВОЙТИ</div>

                <div class="text_for_user" style="text-align: center">Ваш пароль успешно изменён!
                </div>

                <button class="btn waves-effect waves-light center" onclick="location.href='{% url 'home' %}'">Войти
                </button> 

            </div>

        </div>
    </div>
</div>

<div class="hide-on-large-only">
    <div class="container fullscreen-message">
        <h1>Here the dragons be...</h1>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.carousel');
    //     var instances = M.Carousel.init(elems, {
    //         fullWidth: true,
    //         indicators: true,
    //         padding: 100
    //     });
    // });
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        padding: 100
    });
    autoplay();

    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
</script>

<script src="{% static 'js/getCookie.js' %}"></script>


</body>
</html>