asgiref
certifi
chardet
coreapi
coreschema
defusedxml
Django
django-allauth
django-cors-headers
django-filter
django-rest-auth
django-rest-framework
django-rest-swagger
djangorestframework
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
numpy
oauthlib
openapi-codec
opencv-python
Pillow
python3-openid
pytz
requests
requests-oauthlib
simplejson
six
sqlparse
uritemplate
urllib3
whitenoise
wincertstore
zipp
